.banner {
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
    font-size: 18px;
    text-align: center;
}

#Left {
    background-color: blue;
}

#Mid {
    background-color: #696969;
}

#Right {
    background-color: red;
}

#button {
    margin-left: -85px;
    margin-top: 10px;
	width: 42px; 
	height: 42px;
}

#politicTitle {
    margin-left: 45px;
}

#content {
    text-align: center;
}

   