body {
    /* body font details */
    text-align: center;
    font-family: 'Nanum Gothic';
    color: white;
    font-size: 16px;
    margin: 0;
    padding: 0; 
}


/* Bodies */
#leftBody {
    background-color:#81A4CD;
}

#midBody {
    background-color: rgb(153, 153, 153);
}

#rightBody {
    background-color: #ff8d8d;
}


/* Banners */
#leftBanner {
    background-color: #031D65;
}

#midBanner {
    background-color: rgb(50, 50, 50);
}

#rightBanner {
    background-color: #a70000;
}

.banner {
    display: flex;
    height: 96px;
    justify-content: center;
    width: 100%;
    color: white;
    font-size: 1.35rem;
    text-align: center;
}

#button {
    position: fixed;
    left: 0;
    margin-left: 10px;
    margin-top: 25px;
	width: 42px; 
	height: 42px;
}

#politicTitle {
    align-content: center;
    margin-top: 20px;
}

#content {
    text-align: center;
}

.authorInfo {
    color: white;
    font-family: 'Nanum Gothic';
    border: none;
    border-radius: 5px;
    margin-top: 70px;
    width: 150px;
    height: 30px;
}

#Chris {
    background-color: rgb(26, 55, 134);
}

#Shreya {
    background-color: rgb(80, 80, 80);
}

#Alan {
    background-color: #a32f2f;
}

.authorInfo:focus {
    outline: none;
}

#authDiv, #authDiv1, #authDiv2 {
    margin-top: 15px;
}

#authorImage, #authorImage1, #authorImage2 {
    margin-top: 5px;
}