body {
    /* background details */
    background-color:rgb(173, 173, 173);
    
    /* body font details */
    text-align: center;
    font-family: 'Nanum Gothic';
    color: black;
    font-size: 16px;
    margin: 0;
    padding: 0; 
}

/* logo banner area */
#banner {
    position: fixed;
    margin-top: -110px;
    display: flex;
    height: 96px;
    justify-content: center;
    width: 100%;
    color: white;
    font-size: 1.35rem;
    text-align: center;
    background-color: rgb(50, 50, 50);
}

#savedTitle {
    align-content: center;
    margin: 20px 0 28.944px;
}

#savedBack {
    color: white;
    text-decoration: none; 
    font-size: 1.5rem;
    position: absolute;
    left: 10px;
    top: 42px;
}

#button {
    position: fixed;
    left: 0;
    margin-left: 10px;
    margin-top: 25px;
	width: 42px; 
	height: 42px;
}

#moreButton {
    position: fixed;
    left: 50%;
    bottom: -1rem;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    display: none;
}

.trash {
    float: right;
    margin-top: 10px;
    margin-right: 6px;
    background: none;
    border: none;
    font-size: 1.8rem;
}

.trash:focus {
    outline: none;
}

#savedTile2 {
    margin-top: 110px;
}

#savedTile2, #savedTile4, #savedTile5 {
    text-align: left;
}

.tileSubTxt {
    margin-left: 19.2px;
    padding-right: 19.2px;
    font-size: 1.2rem;
}

.savedHeadline {
    margin-top: 10px;
}

#newHeadline {
    margin-left: 25px;
    margin-right: 38px;
    padding-top: 1px;  
    font-size: 1.2rem;
}

#leftLink {
    margin-left: 5px;
}