/* headline configuations */
h1 {
    font-family: 'Nanum Gothic';
    letter-spacing: 0.2rem;
}

body {
    /* background details */
    background-color:rgb(173, 173, 173);
    
    /* body font details */
    text-align: center;
    font-family: 'Nanum Gothic';
    color: black;
    font-size: 16px;
    margin: 0;
    padding: 0; 
}

/* logo banner area */
#banner {
    display: flex;
    justify-content: center;
    height: 3.5rem;
    width: 100%;
    color: white;
    background-color: rgb(50, 50, 50);
    padding: 1rem 0 1.5rem 0;
    font-size: 18px;
    text-align: center;
}

#savedBack {
    color: white;
    text-decoration: none; 
    font-size: 1.5rem;
    position: absolute;
    left: 10px;
    top: 48px;
}

#banner a {
    color: white;
    text-decoration: none; 
}

#BackToTop {
    position: fixed;
    left: 50%;
    bottom: -1rem;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.trash {
    float: right;
    margin-top: -53px;
    margin-right: 7px;
    background: none;
    border: none;
    font-size: 1.5rem;
}
