body {
    /* background details */
    background-color:rgb(173, 173, 173);
    
    /* body font details */
    text-align: center;
    font-family: 'Nanum Gothic';
    color: black;
    font-size: 16px;
    margin: 0;
    padding: 0; 
}

/* logo banner area */
#banner {
    position: fixed;
    margin-top: 0px;
    display: flex;
    height: 96px;
    justify-content: center;
    width: 100%;
    color: white;
    font-size: 1.35rem;
    text-align: center;
    background-color: rgb(50, 50, 50);
}

#SearchBar {
    margin-left: -63px;
    margin-top: 120px;
    width: 200px;
    height: 30px;
    font-size: 1.2rem;
    padding-left: 5px;
}

#SearchButton {
    position: absolute;
    margin-left: 3px;
    margin-top: 121px;
    height: 34px;
    width: 60px;
    color: white;
    background-color: rgb(100, 100, 100);
    border: none;
}

#SearchButton:hover {
    background-color: rgb(70, 70, 70);
    border: none;
    outline: none;
}

#tileList {
    margin-top: -70px;
    margin-bottom: 80px;
}

#savedTitle {
    align-content: center;
    margin: 20px 0 28.944px;
}

#savedBack {
    color: white;
    text-decoration: none; 
    font-size: 1.5rem;
    position: absolute;
    left: 10px;
    top: 42px;
}

#button {
    position: fixed;
    left: 0;
    margin-left: 10px;
    margin-top: 25px;
	width: 42px; 
	height: 42px;
}

#moreButton {
    position: fixed;
    left: 50%;
    bottom: -1rem;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    display: none;
}

.trash {
    float: right;
    margin-top: 10px;
    margin-right: 6px;
    background: none;
    border: none;
    font-size: 1.8rem;
}

.trash:focus {
    outline: none;
}

#searchResult0 {
    margin-top: 110px;
}

#searchResult0, #searchResult1, #searchResult2, #searchResult3, #searchResult4 {
    text-align: left;
}

.tileSubTxt {
    margin-top: 10px;
    margin-left: 19.2px;
    padding-right: 19.2px;
    font-size: 1.2rem;
}

.savedHeadline {
    margin-top: 10px;
}

#resultHeadline0, #resultHeadline1, #resultHeadline2, #resultHeadline3, #resultHeadline4 {
    margin-left: 25px;
    margin-right: 38px;
    margin-bottom: 10px;
    padding-top: 10px;  
    padding-bottom: 10px;
    font-size: 1.2rem;
}

#resultDesc0, #resultDesc1, #resultDesc2, #resultDesc3, #resultDesc4 {
    margin-bottom: 7px;
    padding-bottom: 30px;
}

#leftLink {
    margin-left: 5px;
}

#sourceSymbol0, #sourceSymbol1, #sourceSymbol2, #sourceSymbol3, #sourceSymbol4 {
    width: 70px;
    margin-top: -28px;
    margin-left: 40px;
    float: left;
}

#resultURL0, #resultURL1, #resultURL2, #resultURL3, #resultURL4 {
    background-color: rgb(50, 50, 50);
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    border: none;
    width: 150px;
    height: 30px;
    margin-left: 30px;
    color: white;
    font-size: 1.1rem;
}