a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#tileList {
  color: white;
  font-size: 1.5rem;
}

.tile {
  width: 90%;
  background-color: #696969;
  border-radius: 7px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

#savedTile1 {
  margin-top: 110px;
}

#savedTile5 {
  margin-bottom: 75px;
}

#savedTile1, #savedTile2, #savedTile3, #savedTile4, #savedTile5 {
  height: auto;
}

.tileStar {
  width: 40px;
  height: 40px;
  float: left;
  margin-left: 5px;
  margin-top: 10px;
}

.tileHeadline {
  padding-top: 12px;
  padding-right: 8px;
  max-width: 85%;
  text-align: left;
  margin-left: 55px;
}

.tileSubTxt {
  font-size: 1.2rem;
  margin-top: -5px;
  margin-bottom: 25px;
}

#leftLink {
  background-color: #031D65;
  padding: 12px 20px 12px 20px;
  border-radius: 22px 3px 3px 22px;
}

#centerLink {
  background-color: rgb(50, 50, 50);
  border-radius: 3px;
  padding: 12px 10px 12px 10px;
}

#rightLink {
  background-color: #a70000;
  border-radius: 3px 22px 22px 3px;
  padding: 12px 15px 12px 15px;
}


#leftLink, #centerLink, #rightLink {
  bottom: 5px;
}

.content {
  margin-left: 5px;
  word-spacing: 4px;
  text-align: left;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  width: 90%;
  z-index: 5;
  padding-bottom: 0px;
}